a:link {
    color: #0000FF;
    text-decoration: none;
}
a:visited {
    color: #0000FF;
}
a:hover {
    color: #FF0000;
    font-size: 110%;
}
li{
    list-style-type: none;
    font-size: 150%;
}